{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="{% static 'main.css' %}" >

</head>
<body>
    <div class="app">
        <aside class="sidebar">
            <h3>Menu</h3>
            <nav class="menu">
                <a href="#" class="menu-item is-active">Home</a>
                <a href="#" class="menu-item">About</a>
                <a href="#" class="menu-item">Portifolio</a>
                <a href="#" class="menu-item">Contact</a>
            </nav>
        </aside>
    
        <main class="content">
            <h1>Welcome, {% block welcome %}{% endblock %}</h1>
            <p>Lorem ipsum, dolor sit amnet consectetur, test!</p>
        </main>
    </div>
</body>
</html>
